<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css" />
  </head>
  <body ng-app="rc">
  	<div ui-view="header"></div>
    <div ui-view="container" class="global-container"></div>
    <footer><span>Rate a Class &copy; 2017</span></footer>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
  	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-animate.min.js"></script>
    <script type="text/javascript" src="javascripts/misc/moment.2.14.1.js"></script>
    <script type="text/javascript" src="javascripts/misc/angular-moment.min.js"></script>
    <script type="text/javascript" src="javascripts/angularApp.js"></script>
  	<script type="text/javascript" src="javascripts/controllers/mainController.js"></script>
  	<script type="text/javascript" src="javascripts/controllers/postController.js"></script>
  	<script type="text/javascript" src="javascripts/controllers/authController.js"></script>
  	<script type="text/javascript" src="javascripts/controllers/navController.js"></script>
    <script type="text/javascript" src="javascripts/services/mainService.js"></script>
  	<script type="text/javascript" src="javascripts/services/postService.js"></script>
  	<script type="text/javascript" src="javascripts/services/authService.js"></script>
</html>
