	<header class="header">
		<div class="container">
			<a class="logo" href="/" target="_self">Rate a Class</a>
			<div class="links">
			    <a class="section" ui-sref="features">Sign In</a>
			    <a class="section" ui-sref="pricing">FAQ</a>
				<a class="section" ui-sref="login">Feedback</a>
			</div>
		</div>
	</header>