	<header class="header">
		<div class="container">
			<a class="logo" href="/" target="_self">Rate a Class</a>
			<div class="links" id="header-links">
			    <a class="section" ui-sref="login">Sign In</a>
			    <a class="section" ui-sref="help">FAQ</a>
				<a class="section" ui-sref="feedback">Feedback</a>
			</div>
		</div>
	</header>