<div class="container home">
    <div class="content">
    	<div class="intro"></div>
        <div class="info">
        	<h1>Your opinion matters</h1>
        	<span class="description">Rate a Class allows you to review college courses that you have <br/>taken at an institution.</span>
        </div>
        <div class="action">
        	<form class="start-box" id="search-school" method="POST" action="process">
        		<input type="text" ng-model="searchschool" id="searchschool" placeholder="Type to search for a school" ng-change="search()" focused />
        	</form>
        </div>
    </div>
</div>