<div id="container" class="container login">
  <div class="content">
    <h1 class="light">Sign Up</h1>
    <form ng-submit="register()">
		<input type="name" ng-model="user.name" placeholder="Name" />
        <input type="email" ng-model="user.email" placeholder="Email" />
        <input type="password" ng-model="user.password" placeholder="Password" />
        <input type="submit" value="Sign Up" />
    </form>
    <span class="auth-instruction">Already a member? <a href="/login">Sign In!</a></span>
  </div>
  <div class="side-banner"></div>
</div>