<div id="container" class="container review">
    <div class="content">
        <div class="school-container">
            <div class="side-bar">
            	<div class="school-brand" style="background-image: url({{brand_asset}})"></div>
            	<span class="school-title">{{school_name}}</span>
            	<span class="school-address">{{school_address}}</span>
                <a class="school-reviews" href="/school/{{school_str}}"><i class="fa fa-arrow-left"></i> Back to all reviews</a>
                <a class="button" href="/review/{{class_id}}/add"><i class="fa fa-plus"></i> Add a review</a>
                <span class="avg_rating">Average Rating: {{avg_rating}}</span>
                <rating value="rating_num" max="5" ng-model="review.rating_num"></rating>
            </div>
            <div class="content-bar">
            	<span class="heading">Reviews for {{reviewClass}}</span>
            	<div class="review-container" ng-class="review.usr==user_id?'userReview':''" ng-repeat="review in reviews | limitTo: 20 | orderBy: review.datetime : true">
            		<span class="review-list-body">{{review.review}}</span>
                    <div class="review-info-container">
                        <span class="usr">{{review.username}}</span>
                        <span class="datetime" am-time-ago="review.datetime | amFromUnix"></span>
                    </div>
            	</div>
            </div>
        </div>
    </div>
</div>