<div id="container" class="container school">
    <div class="content">
        <div class="school-container">
            <div class="side-bar">
            	<div class="school-brand" style="background-image: url({{brand_asset}})"></div>
            	<span class="school-title">{{school_name}}</span>
            	<span class="school-address">{{school_address}}</span>
            </div>
            <div class="content-bar">
            	<input type="text" class="search_class" ng-model="searchclass" id="searchclass" placeholder="Type to find a class" ng-change="search()" focused />
            	<a class="class-container" ng-repeat="class in classes | filter:searchclass | limitTo: 20" href="/review/{{class.id}}">
            		<span class="class-list-head">{{class.name}}</span>
            		<span class="class-list-body">{{class.description}}</span>
            	</a>
            </div>
            <div class="side-bar">
                <span>Top Courses</span>
                <a class="class-rating-container" ng-repeat="class in classes | limitTo: 10 | orderBy:rating">
                    <span class="class-rating-head">{{class.name}}</span>
                    <span class="class-rating-number">{{class.rating}}</span>
                </a>
            	<div class="class-container" ng-repeat="class in classes | filter:searchclass | limitTo: 20">
            		<span class="class-list-head">{{class.name}}</span>
            		<span class="class-list-description">{{class.description}}</span>
            	</div>
            </div>
            <div class="side-bar">
                <span>Top Courses</span>
                <div class="class-rating-container" ng-repeat="class in classes | filter:searchclass | limitTo: 20 | orderBy:rating">
                    <span class="class-rating-head">{{class.name}}</span>
                    <span class="class-rating-number">{{class.rating}}</span>
                </div>
            </div>
        </div>
    </div>
</div>