<div class="container school">
    <div class="content">
        <div class="school-container">
            <div class="side-bar">
            	<div class="school-brand" style="background-image: url({{brand_asset}})"></div>
            	<span class="school-title">{{school_name}}</span>
            	<span class="school-address">{{school_address}}</span>
            </div>
            <div class="content-bar">
            	<input type="text" ng-model="searchclass" id="searchclass" placeholder="Find class" ng-change="search()" focused />
            	<div class="class-container" ng-repeat="class in classes | filter:searchclass | limitTo: 20">
            		<span class="class-list-head">{{class.name}}</span>
            		<span class="class-list-description">{{class.description}}</span>
            	</div>
            </div>
            <div class="side-bar">Top Courses</div>
        </div>
    </div>
</div>