* {
  -webkit-box-sizing: border-box;‌
  -moz-box-sizing: border-box;
  box-sizing : border-box;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('/fonts/OpenSans-Light.woff2') format('woff2'),
  url('/fonts/OpenSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('/fonts/OpenSans-Regular.woff2') format('woff2'),
  url('/fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('/fonts/OpenSans-Semibold.woff2') format('woff2'),
  url('/fonts/OpenSans-Semibold.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('/fonts/OpenSans-Bold.woff2') format('woff2'),
  url('/fonts/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url('/fonts/OpenSans-Italic.woff2') format('woff2'),
  url('/fonts/OpenSans-Italic.ttf') format('truetype');
}

body, html {
  color: #333;
  font-family: 'Open Sans', serif;
  height: 100%;
  margin: 0;
  width: 100%;
}

body.school_body { background-color: #F5F8F9; }

h1 { font-size: 2.5em; margin: 0; }
h1.light { font-weight: 300; }

h2 { font-weight: 600; }
h3 { font-weight: 500; }
h2, h3 { margin: 0 auto; }

a.button {
  background-color: #0069ff;
  border: 1px solid #0049B3;
  color: #fff;
  border-radius: 3px;
  font-size: 16px;
  outline: none;
  padding: 10px;
  text-decoration: none;
}
a.button.wide { padding: 10px 20px; }
a.button:hover { background-color: #0049B3; }

input {
  border: 1px solid #888888;
  border-radius: 3px;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  outline: none;
  padding: 10px;
  width: 100%;
}
input:focus {
  -webkit-box-shadow: 0px 0px 2px 0px #222224;
  -moz-box-shadow: 0px 0px 2px 0px #222224;
  box-shadow: 0px 0px 2px 0px #222224;
  border-color: #222224;
}
input.inline { display: inline-block; }
input.small { width: 50px; }

form.start-box button {
  background-color: #3D3D3F;
  border: 1px solid #222224;
  color: #fff;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  margin: 0 auto;
  outline: none;
  padding: 10px;
  width: 250px;
}
button:hover { background-color: #222224; }

div.error-head { display: block; height: 40px; line-height: 40px; font-size: 15px; background-color: #f7ea51; text-align: center; }

header.header { background: transparent; color: #3D3D3F; font-size: 16px; height: 50px; position: relative; width: 100%; z-index: 1; }
header.header > div.container { line-height: 48px; }
body.school_body header.header { background-color: #fff; border-bottom: 1px solid #ddd; -webkit-box-shadow: 0px 3px 5px 0px rgba(238,238,238,0.5); -moz-box-shadow: 0px 3px 5px 0px rgba(238,238,238,0.5); box-shadow: 0px 3px 5px 0px rgba(238,238,238,0.5); }
body.login_body > header.header { position: absolute; }
body.login_body div.global-container { height: 100%; margin-top: -50px; }
body.login_body div.global-container > div.container { height: 100%; margin-top: 0; }
body.login_body footer { margin-top: -62px; }

header.header .links input.search-global { background: url('/images/icon-search.png') no-repeat; background-position: 0 center; background-size: 26px; border-color: #ddd; display: inline-block; padding-left: 30px; width: 130px; }

header.header a {
  color: inherit;
  text-decoration: none;
}

header.header .logo {
  display: table-cell;
  font-size: 20px;
  font-weight: 600;
  min-width: 120px;
}
header.header .logo:hover { color: #98989d; }

header.header .links {
  display: table-cell;
  text-align: right;
  width: 100%;
}

header.header .links > .section {
  display: inline-block;
  padding: 0 10px;
}

header.header .links > .section:hover {
  color: #98989d;
}

body.login_body header.header .links > .section { color: #dddddd; }
body.login_body header.header .search-global { display: none; }

div.global-container { position: relative; min-height: calc(100% - 112px); height: calc(100% - 112px); width: 100%; z-index: 0; }
div.global-container > div.container.home > div.content { height: auto; margin-bottom: 5em; padding-top: 5em; text-align: center; }

div.container { display: block; height: 100%; margin: 0 auto; width: calc(100% - 100px); }
div.container > div.content { display: block; height: 100%; }

div.global-container div.container.home div.info { padding: 0 100px; width: 100%; }
div.global-container div.container.home div.action { min-width: calc(100% - 420px); }

div.global-container div.container.home div.sub-header { display: block; background: url('/images/sub-header.png') no-repeat; background-size: 500px; height: 95px; margin: 20px auto; margin-bottom: 45px; width: 500px; }

div.global-container div.container.home div.info > span.description { display: block; font-size: 18px; margin-top: 10px; }
div.global-container div.container.home div.info { text-align: center; }
div.global-container div.container.home div.action form.start-box { margin: 30px auto; width: 500px; }
div.global-container div.container.search { padding-top: 10px; }
div.global-container div.container.search:before { -webkit-filter: blur(20px); filter: blur(20px); background: url('/images/bl-bg.png') no-repeat fixed; background-position-y: 5em; background-size: contain; content: ' '; position: absolute; height: 100%; width: calc(100% - 100px); z-index: -1; }

div.global-container div.container.school div.school-container { display: flex; margin-top: 20px; width: 100%; }
div.global-container div.container.school div.school-container > div.side-bar { min-width: 250px; padding: 10px; }
div.global-container div.container.school div.school-container > div.content-bar { margin: 0 10px; width: 100%; }
div.global-container div.container.school div.school-container > div.side-bar, div.global-container div.container.school div.school-container > div.content-bar { align-self: flex-start; background-color: #fff;  border: 1px solid rgba(240,240,240,1); padding: 10px; -webkit-box-shadow: 0px 0px 5px 0px rgba(221,235,240,0.75); -moz-box-shadow: 0px 0px 5px 0px rgba(221,235,240,0.75); box-shadow: 0px 0px 5px 0px rgba(221,235,240,0.75); }
div.global-container div.container.school div.school-container > div.side-bar div.school-brand { background-repeat: no-repeat; background-position: center; background-size: contain; border: 5px solid rgba(90, 129, 142, 0.78); border-radius: 100%; height: 100px; width: 100px; margin: 0 auto; }
div.global-container div.container.school div.school-container > div.side-bar span.school-title { display: block; font-weight: 500; margin-top: 10px; text-align: center; }
div.global-container div.container.school div.school-container > div.side-bar span.school-address { display: block; font-weight: 300; margin-top: 10px; text-align: center; }

div.class-container { border-bottom: 1px solid #eee; display: block; padding: 15px 0; }
div.class-container:nth-of-type(1) { padding-top: 0; }
div.class-container > span.class-list-head, div.class-container > span.class-list-body { display: block;}
div.class-container > span.class-list-head { font-size: 1.2em; font-weight: 600; }
div.class-container > span.class-list-body { font-size: 1em; font-weight: 300; }

input[type="text"].header-search { margin-left: 20px; width: calc(100% - 20px); }

a.school-result {
  color: #333;
  display: table;
  padding: 10px 0;
  text-decoration: none;
  width: 100%;
}

a.school-result:hover {
  background-color: rgba(200, 200, 200, 0.4);
  margin-left: -50px;
  margin-right: -50px;
  padding-left: 50px;
  padding-right: 50px;
  width: auto;
}

a.school-result > div.info-section {
  display: table-cell;
  width: 100%;
}

a.school-result > div.info-section > h2 {
  display: block;
}

a.school-result > div.info-section > span {
  display: block;
}

a.school-result > div.link-section {
  display: table-cell;
  vertical-align: middle;
  width: 100px;
}

a.school-result > div.link-section > a {
  display: block;
}

div.infographic-home {
  border-top: 1px solid #eee;
  display: table;
  margin: 0 auto;
  width: 550px;
  padding-top: 2em;
}

div.infographic-home > div.infographic-section {
  display: table-cell;
}

div.infographic-home > div.infographic-section > span.head {
  border: 1px solid #333;
  border-radius: 100%;
  display: block;
  font-weight: 300;
  height: 30px;
  line-height: 27px;
  margin: 0 auto;
  text-align: center;
  width: 30px;
}

div.infographic-home > div.infographic-section > span.body {
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  text-align: center;
  width: 140px;
}

div.global-container div.container.login {
  display: table;
  margin-top: -50px;
  position: absolute;
  width: 100%;
  z-index: -1;
}

div.global-container div.container.login div.content {
  display: table-cell;
  min-width: 400px;
  padding: 20px 50px;
  padding-top: 70px;
}

div.global-container div.container.login div.content form { margin-top: 20px; }

div.global-container div.container.login div.side-banner {
  background: url('/images/01.jpeg') no-repeat;
  background-size: cover;
  display: table-cell;
  padding-top: 50px;
  width: 100%;
}

div.input_instruction { display: block; margin-bottom: 20px; }
div.input_instruction h3 { margin: 0; }
div.input_instruction span { display: block; margin: 5px 0; }
div.input_instruction input { margin-top: 10px; }

footer {
  display: block;
  padding: 20px 0;
  position: relative;
  text-align: center;
  width: 100%;
}

body.login_body footer { color: #dddddd; }

.invalid input:required:invalid {
    background: #BE4C54;
}

.invalid input:required:valid {
    background: #FFFFFF;
}

@media (max-width: 600px) {
  div.global-container div.info { padding: 0 20px; }
  div.global-container div.action form.start-box { width: 100%; }
}

body.schoolBody {
  background: black;
}